<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>870176039634-sd013v47uh1d8ov2icffmkut534o6duh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.870176039634-sd013v47uh1d8ov2icffmkut534o6duh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>870176039634-p74sgj4go9h6lul4dt3610r8hbgraiah.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCGRe_GDFQMaKoIlP2fbOdWG3TS478OBwI</string>
	<key>GCM_SENDER_ID</key>
	<string>870176039634</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.bando-consumer</string>
	<key>PROJECT_ID</key>
	<string>bando-consumer</string>
	<key>STORAGE_BUCKET</key>
	<string>bando-consumer.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:870176039634:ios:90e501f56a205fe83b830b</string>
</dict>
</plist>